# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env / segredos
.env
.env.*
!.env.example
*.pem
*.key
service-account*.json

# Terraform
infra/terraform/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# OS / editor
.DS_Store
.idea/
.vscode/
